h1{
	text-transform: uppercase !important;
	font-weight: 700;
}

/*
h2 {
	text-transform: uppercase !important;
	margin-top: 4em;
	font-size:160%;
	font-weight:300;
	line-height: 1.5;
	letter-spacing:1px;
}
*/

h2 {
	text-align: center;
	margin-top: 4em;
    font-size:150%;
    line-height: 2;
    font-weight:300; 
    color:#222; 
    letter-spacing:1px;
    text-transform: uppercase;
    align-items: center;
}

h2:after, h2:before {
    content: " ";
    display: block;
    /*border-bottom: 1px solid #876b3d;
    border-top: 1px solid #876b3d;*/
    height: 5px;
  	background-color:#d3a550;
}

h3 {
	color:#000;
	margin-top: 1em;
	font-size:130%;
	line-height: 1.5;
}

h3:after {
    background-color: #aaa;
    border-radius: 0.1rem;
    content: '';
    display: block;
    height: 0.1rem;
    width: 50%;
    margin-bottom: 1.25rem;
}


h4 {
	border-left: 0.1em solid rgba(85, 145, 156);
	padding-left: 0.5em;
	margin-top: 1em;
	font-size:110%;
	line-height: 1.5;
}



h1, h2, h3, h4 {
	margin-bottom: 0.5rem;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, .prev-next-area a p.prev-next-title {
	color: rgba(85, 145, 156) !important;
}

a:hover, .prev-next-area a p.prev-next-title:hover{
	text-decoration: underline !important;
}

p{
	font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5 !important;
    margin-top: 0;
  	margin-bottom: 1rem;
}

ol li > p:first-child, ul li > p:first-child{
	margin-bottom: 0px;
}